<nav class="navbar navbar-dark navbar-expand-lg bg-primary sticky-top noselect" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand" href="/home">
                <img th:src="@{/img/logo.png}" alt="Launchpad Logo" width="32" height="32"
                     class="d-inline-block align-text-top center-text">
                Launchpad
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
                <li class="nav-item"><a class="nav-link" href="/statistics">Statistics</a></li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Misc
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/votes">Votes</a></li>
                        <li><a class="dropdown-item" href="/redis">Redis Manager</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                -->
                <!--
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
                -->
            </ul>
            <!--
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            -->

            <div th:if="${admin}">
                <div class="dropdown d-flex" style="padding-right: 20px">
                    <!-- FA icons dont work for some odd reason -->
                    <img th:src="@{/img/icons/gear-solid.svg}"
                         class="dropdown-toggle" data-bs-toggle="dropdown"
                         data-bs-display="static" aria-expanded="false"
                         alt="User Settings" width="20" height="20" style="cursor: pointer; -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */filter: invert(100%);">
                    <!-- We use gif because it can also render png/jpg -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        <li><a class="dropdown-item" href="/users">Users</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/admin/apikeys">Stuff</a></li>
                    </ul>
                </div>
            </div>
            <li class="nav-item d-flex"><a class="nav-link" href="/logout">Logout</a></li>
        </div>
    </div>
</nav>
<script>
    //set the current page to active
    var currentPage = document.location.pathname;
    var navLinks = document.getElementsByClassName("nav-link");
    for (var i = 0; i < navLinks.length; i++) {
        if (navLinks[i].href.toLowerCase().endsWith(currentPage.toLowerCase())) {
            navLinks[i].className += " active";
        }
    }
</script>
