<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<div layout:fragment="content">
    <h1 class="center-text">Redis Manager</h1>
    <br/>
    <h3 class="center-text" style="color: red;">Make sure you know what you're doing!</h3>
    <form>
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form action="#" method="post" target="dummyframe">
            <div class="form-group">
                <label for="json">JSON</label>
                <textarea type="text" class="form-control" id="json" placeholder="JSON Data" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script>
            $('button[type=submit]').click(function (event) {
                event.preventDefault();
                const json = $('#json').val();
                const request = {json};
                console.log(request);
                /*
                $.post("/api/authenticated/votes/testvote", JSON.stringify(voterequest), function (data) {
                    iziToast.success({
                        title: 'Success',
                        message: 'Vote sent to server',
                        position: 'bottomRight'
                    });
                });
                 */
                $.ajax({
                    url: '/api/authenticated/redis/post',
                    type: 'POST',
                    data: JSON.stringify(request),
                    contentType: 'application/json',
                    success: function (data) {
                        iziToast.success({
                            title: 'Success',
                            message: 'Sent to redis...',
                            position: 'bottomRight'
                        });
                    },
                    error: function (data) {
                        iziToast.error({
                            title: 'Error',
                            message: data,
                            position: 'bottomRight'
                        });
                    }
                });
            })
        </script>
    </form>
</div>
<!-- Content ends -->
</body>

</html>
