.centered {
    justify-content: center;
    align-items: center;
    display: flex;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-text {
    text-align: center;
}

.center-align {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252425;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #626262;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #505051;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.black {
    color: black;
}

.white {
    color: white;
}

.black-important {
    color: black !important;
}

.white-important {
    color: white !important;
}

.invert {
    filter: invert(1);
}

select option {
    color: black;
}
.pagination {
    display: inline-block;
}

.pagination a {
    border-radius: 5px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #0D6DFD;
    border-radius: 5px;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #DDD;}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
