<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{loginlayout}"
>

<body>
  <!-- Content starts -->
  <div class="card-body" layout:fragment="content">
    <h4 class="card-title">AetheriaCore Master</h4>
    <br/>
    <h5 class="card-text">Authentication Required</h5>
    <br/>
    <a th:href="@{/saml/login}" class="btn btn-primary btn-sm">
      <i class="fas fa-rocket"></i> Login With SSO
    </a>
  </div>
  <!-- Content ends -->
</body>

</html>
