<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<div layout:fragment="content">
    <h1 class="center-text" id="greeting" th:text="'Hello, ' + ${username} + '!'">Hello, <a th:text="${username}">null</a>!</h1>

    <p>Servers: <strong th:text="${servers}"></strong></p>

    <script>
        //replace Hello, with either Good morning or Good afternoon or Good evening depending on the time of day
        const time = new Date().getHours();
        let greeting;
        if (time < 12) {
            greeting = "Good morning";
        } else if (time >= 12 && time < 17) {
            greeting = "Good afternoon";
        } else {
            greeting = "Good evening";
        }
        console.log("Greeting: ",greeting);
        const inner = document.getElementById("greeting").innerHTML;
        console.log("Inner: ",inner);
        const newInner = inner.replace("Hello", greeting);
        console.log("New inner: ",newInner);
        document.getElementById("greeting").innerHTML = newInner;
    </script>
</div>
<!-- Content ends -->
</body>

</html>
