<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<div layout:fragment="content">
    <h1 class="center-text">Home</h1>
    <br/>
    <strong>Admin: </strong>
    <span th:text="${admin}">false</span>
    <!-- List roles -->
    <table id="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody id="table-body">
        <tr th:if="${roles.size() <= 0}">
            <td colspan="1">No Roles</td>
        </tr>
        <tr th:each="role : ${roles}" id="server">
            <td><span th:text="${role.getAuthority()}">Name</span></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Content ends -->
</body>

</html>
