<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<div layout:fragment="content">
    <link th:href="@{/css/tables.css}" rel="stylesheet">
    <h1 class="center-text">Servers</h1>
    <br/>
    <table id="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Players</th>
            <th>Whitelist</th>
            <th>Maintenance</th>
            <th>TPS</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="table-body">
        <tr th:if="${servers.size() <= 0}">
            <td colspan="6">No Servers</td>
        </tr>
        <tr th:each="server : ${servers}" id="server">
            <td><span th:text="${server.serverName}">Name</span></td>
            <td><span th:text="${server.players} + '/' + ${server.maxPlayers}">Players</span></td>
            <td><span th:text="${server.whitelisted}">Whitelist</span></td>
            <td><span th:text="${server.maintenance}">Maintenance</span></td>
            <td><span th:text="${server.getFormattedTPS()}">TPS</span></td>
            <td>
                <button class="btn btn-primary" onclick="restartServer([[{server.serverName}]])">Restart</button>
            </td> <!-- TODO: Make these buttons work -->
        </tr>
        </tbody>
    </table>
    <script type="text/javascript" th:src="@{/js/pages/servers.js}"></script>
</div>
<!-- Content ends -->
</body>

</html>
