<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<div layout:fragment="content">
    <h1 class="center-text">Page Name</h1>
    <br/>
    <form id="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" required>
        </div>

    </form>
</div>
<!-- Content ends -->
</body>

</html>
