<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<div layout:fragment="content">
    <link th:href="@{/css/tables.css}" rel="stylesheet">
    <h1 class="center-text">API Keys</h1>
    <br/>
    <table id="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="table-body">
        <tr th:if="${apikeys.size() <= 0}">
            <td colspan="6">No Servers</td>
        </tr>
        <tr th:each="key : ${apikeys}" id="apikeys">
            <td><span th:text="${key.getId()}">Key</span></td>
            <td><span th:text="${key.getCreatedDate()}">Created On</span></td>
            <td><span th:text="${key.getUser().getUsername()}">Username</span></td>
            <td>
                <button class="btn btn-danger" th:attr="onclick=|revokeKey('${key.getId()}')|">Revoke</button>
            </td> <!-- TODO: Make these buttons work -->
        </tr>
        </tbody>
    </table>

    <hr/>

    <div id="form-container">
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form action="#" method="post" target="dummyframe">
            <div class="form-group">
                <label for="key">Custom Key</label>
                <input type="text" class="form-control" id="key" placeholder="Custom Key (Leave Blank)" required>
                <small id="keyHelp" class="form-text text-muted" style="color: white">Key</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script>
        $('button[type=submit]').click(function (event) {
            event.preventDefault();
            var key = $('#key').val();
            if (key === '') {
                key = '';
            }
            const request = {
                key: key
            };
            console.log(request);
            $.ajax({
                url: '/api/authenticated/apikey/create',
                type: 'POST',
                data: JSON.stringify(request),
                contentType: 'application/json',
                success: function (data) {
                    iziToast.success({
                        title: 'Key Created',
                        message: 'Key Created Successfully!',
                        position: 'bottomRight'
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 1200);
                },
                error: function (data) {
                    iziToast.error({
                        title: 'Error',
                        message: 'Error Creating Key',
                        position: 'bottomRight'
                    });
                }
            });
        })
        function revokeKey(key) {
            console.log("Revoking API Key " + key)
            $.ajax({
                url: '/api/authenticated/apikey/revoke',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(
                    {
                        key: key
                    }
                ),
                success: function (data) {
                    console.log(data);
                    location.reload();
                }
            });
        }
    </script>
</div>
<!-- Content ends -->
</body>

</html>
