<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>

<body>
<!-- Content starts -->
<div layout:fragment="content">
  <link th:href="@{/css/tables.css}" rel="stylesheet">
  <h1 class="center-text">Sessions</h1>
  <br/>
  <table id="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Session ID</th>
      <th>User Agent</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="table-body">
    <tr th:if="${sessions.size() <= 0}">
      <td colspan="6">No Servers</td>
    </tr>
    <tr th:each="s : ${sessions}" id="server">
      <td><span th:text="${s.getUsername()}">Username</span></td>
      <td><span th:text="${s.getHttpSession().getId()}">Session ID</span></td>
      <td><span th:text="${s.getUserAgent()}">User Agent</span></td>
      <td>
        <button class="btn btn-danger" th:attr="onclick=|revokeSession('${s.getHttpSession().getId()}')|">Revoke</button>
      </td> <!-- TODO: Make these buttons work -->
    </tr>
    </tbody>
  </table>
  <script>
    function revokeSession(sessionId) {
      console.log("Revoking session id " + sessionId)
      $.ajax({
        url: '/api/authenticated/sessions/revoke',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(
                {
                  session: sessionId
                }
        ),
        success: function (data) {
          console.log(data);
          location.reload();
        }
      });
    }
  </script>
</div>
<!-- Content ends -->
</body>

</html>
